* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #001011;
    color: #fff;
}

header {
    background-color: #731dd8;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin-bottom: 0.5rem;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.hero-img {
    background: url('../img/banner-1090830_1280.jpg') no-repeat center center/cover;
    background-size: cover;
    height: 50vh;
    width: 100vw;
    padding: 0 1rem;
}

.hero {
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 0 1rem;
}

.hero h2 {
    font-size: 2.5rem;
    text-shadow: 3px 3px 3px black;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.25rem;
    text-shadow: 3px 1px 2px black;
    font-weight: 600;
    margin-bottom: 2rem;
}

.start-btn {
    background-color: #731dd8;
    color: white;
    width: 70vw;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.635);
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
}

.start-btn:hover {
    background-color: #2b0a52;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
