body{
    margin: 0;
    padding: 0;
    background-color: rgb(4, 13, 20);
    color: #ffffff;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section-img-index{
    display: flex;
    width: 100vw;
    height: 45vh;
    margin: auto;
    background-color: blueviolet;
}

.section-main-index{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 45vh;
    width: 100vw;
    background-color: blue;
}

.section-main-index > h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-indent: 10px;
    font-size: 3.3em;
}

.section-main-index > h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-indent: 10px;
    font-size: 2.0em;
    margin: auto;
    line-height: 50px;
}

.section-main-index > p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-indent: 10px;
    font-size: 25px;
}

.section-btn-index{
    display: flex;
    justify-content: center;
    align-items: center;
    top: auto;
    height: 60px;
    width: 100vw;
    background-color: purple;
}

.section-btn-index > button{
    height: 50px;
    width: 90vw;
    border-radius: 7px;
    background-color: #ecf8f8;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: darkslateblue;
}